{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GeoApp</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    />
    <link rel="stylesheet" href="{%static '/lib/leaflet-measure.css'%}" />
    <link rel="stylesheet" href="{%static '/lib/MarkerCluster.css'%}" />
    <link rel="stylesheet" href="{%static '/lib/MarkerCluster.Default.css'%}" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css"
    />
    <style>
      #map {
        width: 100%;
        height: 700px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Basic WebGis</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Upload Data</a>
          </li>
            
      </div>
    </nav>
    <div id="map"></div>
    <button onclick="fullScreenView()" class="btn btn-secondary">
      FullScreenView
    </button>
    <div class="coordinate"></div>
    <button class="print-map">Print Map</button>
  </body>
</html>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{%static '/lib/leaflet.browser.print.min.js'%}"></script>
<script src="{%static '/lib/leaflet-measure.js'%}"></script>
<script src="{%static '/data/test.js'%}"></script>
<script src="{%static '/lib/leaflet.markercluster.js'%}"></script>
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
<script src="{%static '/dist/webGis.js'%}"></script>
<script src="{%static '/dist/main.js'%}"></script>
<script></script>
